.header {
  padding: 30px 29px;
  background: url("https://picsum.photos/id/201/480/116?blur=2") center / cover;
}

.header__title {
  margin: 0;
  font-size: 48px;
  color: white;
  text-shadow: 3px 3px #000;
}
